[Unit]
Description=Move WWAN interfaces into null network namespace
After=ModemManager.service
Wants=ModemManager.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/cleanup-wwan
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
